.NotFound {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-gray);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.modal {
    background: var(--bg-primary);
    max-width: 548px;
    width: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.sep {
    width: 1px;
    height: 2.5rem;
    background: var(--bg-gray);
}
.text {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.text > h1 {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 4rem;
}
.text > p {
    font-size: 16px;
}
.modal > a {
    width: 100%;
}
