.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}
.header > button {
    background: none;
    border: none;
    cursor: pointer;
}

.Form > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
